.wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.header .wrap {
  padding-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

.header .wrap .logo {
  height: 100px;
}

.header .wrap .logo img {
  height: 100%;
}

.header .wrap .menu {
  display: flex;
  flex-direction: row;
}

.header .wrap .menu li {
  padding: 0 15px;
}

.header .wrap .menu li a {
  text-transform: uppercase;
  text-decoration: none;
}

.header .wrap h1 {
  margin: 3rem 0 10rem;
  font-size: 5rem;
}

.section-1 {
  background: 0 80% no-repeat url("../img/img.png"), #efefef;
  background-size: cover;
  min-height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-1 img {
  width: 100%;
}

.section-2 .wrap {
  justify-content: space-around;
  padding: 8rem 0;
}

.section-2 .wrap .box {
  flex-grow: 0;
}

.section-2 .wrap .box h3 {
  font-size: 2.5rem;
  margin: 10px 0 20px;
}

.section-2 .wrap .box li {
  list-style: disc;
  margin-bottom: 10px;
}

.section-3 {
  background: #1e1e26;
  padding: 50px 0;
}

.section-3 .wrap {
  background: #1e1e26;
  justify-content: space-around;
}

.section-3 .wrap h2 {
  font-size: 3rem;
  color: #fff;
  width: 4rem;
  letter-spacing: 2px;
}

.section-3 .wrap h2:after {
  content: "";
  display: block;
  margin-top: 10px;
  border-bottom: 3px solid #f9d10d;
}

.section-3 .wrap form {
  display: flex;
  flex-direction: column;
}

.section-3 .wrap form input,
.section-3 .wrap form textarea,
.section-3 .wrap form button {
  background: transparent;
  border: 1px solid #60e3a1;
  color: #3f8b66;
  font-weight: bold;
  margin: 10px 0;
  padding: 15px 10px;
  border-radius: 5px;
}

.section-3 .wrap form button {
  display: inline;
  background: #60e3a1;
  color: #1d2028;
}

footer {
  padding: 1rem 0;
  border-top: 1px solid #2a2a34;
  background: #1e1e26;
}

footer .wrap {
  justify-content: space-between;
  align-items: center;
}

footer .wrap .links {
  display: flex;
  flex-direction: column;
}

footer .wrap .links a {
  padding: 5px 0;
  color: #fff;
  text-decoration: none;
}

footer .wrap span {
  color: #4a4d5e;
}

.wrap #comments p {
  text-align: center;
  color: darkgray;
  font-weight: bold;
  margin: 15px 0 25px;
}

.wrap #comments .btn-box {
  text-align: center;
}

.wrap #comments .btn-box button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #60e3a1;
  background: transparent;
}

.wrap #comments .cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  max-height: 1000px;
}

.wrap #comments .cards .card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.14), 0 2px 5px 5px rgba(0, 0, 0, 0.12), 0 5px 5px -5px rgba(0, 0, 0, 0.2);
  margin: 15px 10px;
  padding: 30px 20px;
  width: calc(50% - 60px);
}

.wrap #comments .cards .card .card-header {
  margin-bottom: 15px;
}

.wrap #comments .cards .card .card-body {
  color: darkgray;
  font-size: 0.9em;
  line-height: 1.4em;
}

.wrap #comments .cards .card button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #60e3a1;
  color: #2a2a34;
  outline: none;
  margin: 20px 0 0 0;
  cursor: pointer;
  background: #60e3a1;
}

#comment {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 70%;
  margin: 0 auto;
  padding: 2rem 0;
}

#comment > a {
  margin-bottom: 2rem;
}

#comment h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#comment p {
  line-height: 1.5em;
  margin-bottom: 2rem;
}

#comment p:last-of-type {
  text-align: center;
  color: darkgray;
  font-weight: bold;
  margin: 15px 0 25px;
}

#comment .btn-box {
  text-align: center;
}

#comment .btn-box button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #60e3a1;
  background: transparent;
}
